@use 'variables';
@use 'mixins';

html {
    @include mixins.box-sizing(border-box);
}

*,
*:after,
*:before {
    @include mixins.box-sizing(inherit);
}

body {
    font-family: variables.$fuente_principal;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 1.4rem 0;
    }
}

.oculto {
    display: none;
}

.carrito-compras {
    position: relative;

    &:hover .contenido {
        display: block;
        position: absolute;
        right: 0;
        background-color: variables.$gris;
        padding: 1rem;
        max-width: 400px;

        img {
            max-width: 150px;
        }

        .boton {
            background-color: variables.$principal;
            color: variables.$blanco;
            display: block;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            text-align: center;
            text-decoration: none;
        }
    }
}

//hero
.hero {
    min-height: 24rem;
    color: variables.$blanco;
    @include mixins.background-image('../img/hero.jpg');
    background-size: cover;

    display: flex;
    align-items: center;

    .contenido-hero {
        flex: 1;

        h2 {
            font-size: 2.4rem;
            font-weight: 400;
        }

        p {
            font-size: 1.2rem;
        }

        form {
            position: relative;
            width: 40%;

            input[type="submit"] {
                position: absolute;
                right: 0;
                top: 0;

                @include mixins.background-image("../img/lupa.png");

                height: 3rem;
                width: 3rem;

                display: block;
                text-indent: -9999px;
                border: none;
                cursor: pointer;

            }

            input[type="text"] {
                height: 3rem;
                width: 100%;
            }
        }
    }
}