//variables
//fuentes
$fuente_principal: 'Ralwway',
sans-serif;
//colores
$principal: #33c3f0;
$secundary: #741d51;
$third: #e44e52;
$white: #fff;
$black: #000;
$grey: #f2f2f2;
//tamaño media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;