* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulo {
    position: relative;
}

.sticky-menu {
    position: sticky;
    display: inline-block;
    width: 100%;
    background-color: #2f4f4f;
    color: white;
}

.sticky-menu .menu-element {
    float: left;
    margin: 15px;
}

.banner {
    position: relative;
    display: block;
    background-color: #ADD8E6;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    /*Centrar un contenido pero necesita de la altura*/
}

.content {
    position: relative;
    display: block;
    background-color: #E9967A;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.centered {
    margin: 200px auto;
    background-color: #90EE90;
    text-align: center;
    line-height: 200px;
    height: 200px;
    width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #2f4f4f;
    color: white;
}

.footer>.menu-element {
    float: left;
    margin: 0.5em;
}