* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    height: 100%;
}

article {
    align-items: flex-start;
    font-size: 1rem;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    background-color: #FFA07A;
}

header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #6899C2;
    height: 100px;
}

footer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #6899C2;
    height: 100px;
}