html {
    font-family: sans-serif;
}

body {
    width: 70%;
    max-width: 960px;
    margin: 20px auto;
}

button {
    font-size: 18px;
    line-height: 1.5;
    width: 15%;
}

div {
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /*alinea horizontalmente en el main asis*/
    align-items: center;
    /*alinea verticalmente*/
    column-gap: 50px;
}

.btn1 {
    align-self: baseline;
    /*Solo para un elemento concreto*/
}

.btn2 {
    align-self: center;
}

.btn3 {
    align-self: end;
}

.btn4 {
    align-self: center;
}

.btn5 {
    align-self: baseline;
}