:root {
    --background-color: grey;
    --color: white;
    --color-pre: black;
    --font-size: 16px;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

pre {
    color: var(--color-pre);
    font-size: 0.8em;
}