html{
    background-color: black;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right top, rgb(193, 85, 255), rgb(0, 225, 255));
    border: none;
    border-radius: 30px;
}


button:hover {
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px);
  }