#contenedor {
    border-style: dotted;
    border-width: 5px;
    border-color: 660033;
    width: 80%;
    height: 96vh;
    margin: 0 auto;
}

#elemento {
    height: 150px;
    width: 150px;
    background-color: darkblue;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    line-height: 150px;
    transform: translate(300px, 100%) scale(1.3) rotate(25deg);
    /*transform-origin: top left; aqui empieza desde el centro izquierda del elemento (por defecto empieza desde el centro)*/
    /*transform: skewY(15deg); efecto giro*/
    /*transform: rotate(xdeg); deg son en grados*/
    /*transform: scale(2); scala el doble de la img*/
    /*primero derecha 300px y 100% de su tamaño abajo*/
    /*transform: translateX(300px); mover 300px a la derecha*/
    /*transform: translateY(100%); 100% es respecto a su tamaño*/
}