* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$button-type: "error";
$btn-color: #f00;
$btn-font-color: #fff;
$btn-weight: bold;
$btn-border-radius: 2em;
$btn-border-color: 0.2em solid #000;
.btn-#{$button-type} {
    background-color: $btn-color;
    color: $btn-font-color;
    padding: 1em;
    border-radius: $btn-border-radius;
    border: $btn-border-color;
    font-weight: $btn-weight;
}