html{
    background-image: linear-gradient(to bottom,white, rgba(255, 255, 0, 0.623));
}
.title{
    text-shadow: 1px 2px grey;
}
h3+p{
    text-shadow: 2px 4px grey;
}
a[title="Go to google"]{
    text-shadow: none;
}

.shady{
    box-shadow: 3px 3px 3px rgb(0, 255, 0);
    margin-bottom: 10px;
    background-image: linear-gradient(to left, red,green);
}

.shady2{
    box-shadow: -3px -3px rgb(255, 100, 29);
    background-image: radial-gradient(grey 5%, black 15%, blue 60%);
}

.shady3{
    box-shadow: 3px 0 rgb(0, 132, 255);
    background-image: conic-gradient(rgb(174, 0, 255), rgb(126, 128, 0), rgb(0, 255, 213));
}